html {
  font-family: Arial;
}
body {
  text-align: center;
}
button {
  border:none;
  margin: 0.3em;
}
table {
  width: 100%;
  padding: 0.5em;
}
table, th, td {
  text-align: center;
  border: none;
}
a {
    text-decoration: none;
    color: black;
}
.search {
  float: right;
  margin-top: 0.1em;
  padding: 0.4em;
}
.indexbutton {
  float: left;
  border: none;
  padding: 0.3em;
  margin: 0.1em;
}
.adds {
  padding: 1em;
}
#header {
  background-color: black;
}
