body {
  text-align: center;
}
button {
  border:none;
  margin: 0.3em;
}
table {
  width: 100%;
  padding: 0.5em;
}
table, th, td {
  text-align: center;
  border: none;
}
a {
    text-decoration: none;
    color: black;
}
input {
  text-align: left;
}
input[type=number] {
  width: 5em;
  text-align: left;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
#idfield {
  text-align: center !important;
  width: 4em;
}
#searchadmin {
  display: flex;
  padding-top: 1em !important;
  padding-bottom: 1em !important;
  text-align: center !important;
}
.row {
  margin:inherit;
}
